<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Pettynator</title>
    <style>

        #wrapper{
            height: 70px;
            width: 250px;
            border: black 2px solid;

        }



    </style>



</head>
<body style="background: pink">

<h1 style="font-size: 20px">Hi, Please input you animals name and type bellow</h1>

<div id="wrapper">

    <div id="left">
        <form action="/petData" method="post">
            <label style="padding-right: 2px">Pet Name</label>
            <input type="text" name="petName" placeholder="Type pet name"><br>
            <label style="padding-right: 9px">Pet Type</label>
            <input type ="text" name="petType" placeholder="Type pet type"><br>
            <input type = "submit" value ="Send nudes"><br>
        </form>

    </div>
</div>

<button onclick="window.location.href= 'https://www.pornhub.com/video/search?search=hot+moms'" style="color: hotpink">
    Click here for hot moms
</button>




</body>
</html>